.gradle/*
.idea/*
.settings/*
.vscode/*
build/*
logs/*
out/*
work/*
bin/*
*.iml
*.jks
*.pfx
!src/test/resources/*.jks
!src/test/resources/*.pfx
.classpath
.project
src/main/resources/*.yml
.gitlab-ci.yml